# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Data & Models (ignore large raw/processed files and checkpoints, keep .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# Results / figures / metrics outputs
results/metrics/*
!results/metrics/.gitkeep
results/figures/*
!results/figures/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
